input[type="text"] {
  width: 100%;
  height: 50px;
  float: left;

  font-size: 1.8rem;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 4rem 0 0;
  background: rgba(255, 255, 255, 0);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"] {
  padding: 1rem 2rem 0 0;
}

input[type="radio"] {
  opacity: 0;
}

.item {
  &__radio-input {
    display: none;
  }

  &__radio-label {
    cursor: pointer;
    position: relative;
    padding-left: 3rem;
    font-size: 1.6rem;
    padding-right: 1rem;
  }

  &__radio-button {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid $primary-color;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;

    &::after {
      content: "";
      display: block;
      height: 0.85rem;
      width: 0.85rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $primary-color;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
